---
import Layout from '../../layouts/Layout.astro';
import { type CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('posts');
	return posts.map(post => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'posts'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
	<article>
		<h1>{post.data.title}</h1>
		<p>Опубликовано: {post.data.pubDate.toLocaleDateString('ru-RU')}</p>
		<hr>
		<Content />
	</article>
</Layout>
<script type="application/ld+json" set:html={JSON.stringify(post.data.schema)} />
