---
interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---
<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body>
		<header style="padding: 1rem; border-bottom: 1px solid #ccc; margin-bottom: 2rem;">
			<a href="/" style="text-decoration: none; font-weight: bold; font-size: 1.2rem;">Наш Блог-сателлит</a>
		</header>
		<main style="padding: 0 1rem;">
			<slot />
		</main>
		<footer style="padding: 1rem; border-top: 1px solid #ccc; margin-top: 2rem; text-align: center;">
			<p>Вся информация носит ознакомительный характер.</p>
		</footer>
	</body>
</html>
